body {
    background-image: url("Coolbg.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}
.container {
    margin: auto;
}

h1 {
    color: gold;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    color: whitesmoke;
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 30px;
}

button {
    border: 3px solid whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    color: gold;
    font-weight: bold;
    width: 500px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#increase-btn {
    background: blue;
}

#save-btn {
    background: green;
}

#decrease-btn {
    background: purple;
}

p {
    color: goldenrod;
    font-size: 50px;
    font-weight: bolder;   
}

#reset-btn {
    background: red;
}
